# Intro to Python + Python Basic Operations

## Today's Reading
1) https://www.w3schools.com/python/python_intro.asp <br>
2) https://www.tutorialspoint.com/python/python_data_types.htm <br>
3) https://www.tutorialspoint.com/python/python_operators.htm - Skip the bitwise operators <br>

## Notes on Jupyter Notebooks

Markdown is used for annotation - https://www.writethedocs.org/guide/writing/markdown/ <br>
Python is entered and run in one or more cells

## Notes on Python

- Capitalization matters!
- Proper use of spacing and tabs is important in Python!
- You can use line breaks to space out your code without impacting the results
- Use # to start comments

## Python Variables

In [ ]:
#Variables -Give data to the computer for processing. A variable is created the moment you first assign a value to it

first_name = 'Jane'
last_name = 'Doe'
age = 77
precise_age = 77.4

print(first_name+ ' '+ last_name) #one way to concatenate
print(age)

In [ ]:
# Variables can be reassigned
print(first_name)

new_name = 'Jamie'
name = new_name
print('The new name is ' + name + '.')

In [ ]:
#Multiple variables- Assigning values to more than one variable at a time.

child_age,teenage_age, adult_age = 4,15,30

print(child_age, teenage_age, adult_age)

In [ ]:
#Unpacking variables
name_list = ['Alice', 'Alvin', 'Alicia']

name1, name2, name3 = name_list
print(name2)

In [ ]:
#I/O - Input and output tasks or operations such as user input or print output
# Inputs are automatically set to the "string" type

hourly_rate = input('Enter your hourly rate:  ')
num_of_hours = input('Enter the number of hours worked:  ')

In [ ]:
print(hourly_rate)

## Python Data Types

In [ ]:
print(type(name))
print(type(adult_age))

In [ ]:
print(type('abcd'))

In [ ]:
# Inputs are automatically set to the "string" type
print(type(hourly_rate))
print(hourly_rate + num_of_hours)

In [ ]:
#reassign the variables as integers
hourly_rate = float(hourly_rate)
num_of_hours = int(num_of_hours)

print(hourly_rate * num_of_hours)

### Lists

In [ ]:
#List -An ordered sequence of items surrounded by square brackets [ ]
#Lists can contain multiple data types

num_List = [5,10,15,20,25]
print(num_List)

In [ ]:
#Each item in a list has an index number, indexing starts at zero
#Use the following notation to reference a specific item in a list

#Print number 15 from num_List
print(num_List[2])

Lists have their own built-in functions

In [ ]:
#print the length of the list
print(len(num_List))

In [ ]:
#Print the minimum and maxim
print(min(num_List))
print(max(num_List))

### Dictionaries

In [ ]:
#Dictionary - An unordered collection of key-value pairs.
dict_1 ={'fname':'Will',
         'lname':'Williamson'}

print(dict_1)

In [ ]:
#print the value for one key
print(dict_1['fname'])

In [ ]:
#print all of the keys
print(dict_1.keys())

In [ ]:
#print all of the values
print(dict_1.values())

### Tuples

In [ ]:
#Tuple- An ordered sequence of items, same as lists. The only difference is that tuples are immutable.
#Once created it cannot be modified.

tuple_1 = (5, 'program', 1+3, 'title')
print(tuple_1)

In [ ]:
#Print a range of items in a tuple
#print items indexed from 2 until the end
print(tuple_1[2:])

### Sets

In [ ]:
#Items are not ordered.
y = {5,2,3,1}

print(len(y))
print(min(y)+ max(y))

In [ ]:
#you can convert a list to a set
fruits = ['apples', 'oranges', 'pears', 'apples']

fruit_set = set(fruits)
print(fruit_set)

In [ ]:
#Index- A method that returns the index position of an item in a list or a character or a range of characters in a
#string. It accepts one argument: the item you want to identify. You can also manually identify the index using brackets.
idx = fruits.index('pears')
print(idx)

## Python Operators

Mathematical Operators

In [ ]:
a = 15
b = 3

In [ ]:
print(a+b) #addition

In [ ]:
print(a-b) #subtraction

In [ ]:
print(a*b) #multiplication

In [ ]:
print(a/b) #division

In [ ]:
print(a%b) # modulus - remainder after division
print(13%7)

In [ ]:
print(b**2) #exponentiation

In [ ]:
print(10//4) #floor division (rounds down)

## Python Help

In [ ]:
help()

## Practice
1) https://www.w3schools.com/python/python_variables.asp <br>
2) https://www.w3schools.com/python/python_operators.asp