<a href="https://colab.research.google.com/github/DataBaeDev/Intro-To-Python/blob/main/Lesson%205%20-%20PandasContinuedManipulatingData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas Continued - Manipulating Data

## Import Libraries & Datasets

In [2]:
import pandas as pd

We will be using two datasets from the Open Repair Alliance (https://openrepair.org/open-data/downloads/)<br>
1) Download the Fixit Clinic Zip file, use the OpenRepairData_v0.3_FixitClinic.csv file <br>
2) Download the Restart Project Zip file, use the OpenRepairData_v0.3_RestartProject.csv file

In [ ]:
fixit_df = pd.read_csv(r"/filepath")

In [ ]:
restart_proj_df = pd.read_csv(r"/filepath")

## Missing Values

In [ ]:
# creating DataFrame from dict narray / lists
grades = {'Student ID': [899, 341, 276, 975, 114, 583, 899],
		'Test 1 Score': [88, 90, 87, 92, 95, None, 88],
        'Test 2 Score': [76, 92, 92, 88, None, None, 76],
       }

grades_df = pd.DataFrame(grades)

In [ ]:
grades_df

In [ ]:
grades_df.isna()

In [ ]:
grades_df.isna().sum()

In [ ]:
#Replace the null values with zeroes or another number
#This is not a permanent change, you'll need to reassign the new dataset value to the dataset name

grades_df = grades_df.fillna(0)

In [ ]:
#Drop the rows with null values
#This is not a permanent change, you'll need to reassign the new dataset value to the dataset name
grades_df.dropna()

## Handling Duplicates

In [ ]:
#Tells us how many rows are duplicates
grades_df.duplicated().sum()

In [ ]:
#tells us which specific row(s) is a duplicate
grades_df.duplicated()

In [ ]:
grades_df = grades_df.drop_duplicates()

In [ ]:
grades_df

## Transforming Data

In [3]:
#Convert 2 lists into a dataframe

food = ['sandwich', 'omelette', 'pasta', 'cake', 'ice cream', 'omelette', 'pasta', 'veggie burger', 'veggie burger', 'cake']
price = [11, 7, 14, 5, 4, 7, 14, 10, 10, 5]

food_price_df = pd.DataFrame(zip(food, price), columns =['Food', 'Price'])

In [ ]:
food_price_df

In [ ]:
#Create a new column using a map
meal_map = {
    'sandwich': 'lunch',
    'omelette': 'breakfast',
    'pasta': 'dinner',
    'cake': 'dessert',
    'ice cream': 'dessert',
    'veggie burger': 'lunch'
}

food_price_df['Category'] = food_price_df['Food'].map(meal_map)

print(food_price_df)

In [ ]:
food_price_df['Price w. Tax'] = food_price_df['Price']* 1.06

In [ ]:
food_price_df.head()

## Open Repair Datasets

In [ ]:
fixit_df.head(15)

In [ ]:
# Drop an unneeded column from a dataframe
fixit_df.drop(['group_identifier'], axis=1, inplace = True)
restart_proj_df.drop(['group_identifier'], axis=1, inplace = True)

In [ ]:
print(list(fixit_df.columns))

In [ ]:
#Replace specific values in a dataframe
fixit_df['repair_barrier_if_end_of_life'] = fixit_df['repair_barrier_if_end_of_life'].replace([None], 'Not Applicable')

In [ ]:
fixit_df['repair_barrier_if_end_of_life'].head()

## Copying and Pivoting Dataframes

In [ ]:
#create a new dataframe using a subset of an existing dataframe
fixit_lamp_df = fixit_df[fixit_df['product_category']== 'Lamp']
fixit_lamp_df.head()

In [ ]:
#Pandas pivot tables, more info found here: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.pivot.html
pivot_restart_proj_df = pd.pivot_table(restart_proj_df, index='product_category', values='country', columns='repair_status', aggfunc='count')

In [ ]:
pivot_restart_proj_df

## Joining Dataframes
https://www.geeksforgeeks.org/python-pandas-merging-joining-and-concatenating/

In [ ]:
#Create a second pivot table similar to the one above
pivot_fixit_df = pd.pivot_table(fixit_df, index='product_category', values='country', columns='repair_status', aggfunc='count')

In [ ]:
#  Merge the two dataframes (similar to a sql inner join)
#  merged_df = pd.merge(df1, df2, left_on='column name', right_on='column name')

merged_df = pd.merge(pivot_fixit_df, pivot_restart_proj_df, left_index=True, right_index=True)

In [ ]:
merged_df.head()

In [ ]:
#clean up the column names
merged_df.rename(columns={'End of life_x': 'Fixit_End_of_life', 'Fixed_x': 'Fixit_Fixed'})

In [ ]:
#Concat is like a SQL Union All
unioned_df = pd.concat([fixit_df, restart_proj_df])

In [ ]:
unioned_df.tail()

In [ ]:
unioned_df.shape